    
.demo{
    position: absolute;
   width: 25px;
   height: 40px;
   left: 100px;
   top: 100px;
   
   background: #4066A5;
           }
   
          
           
           .demo1{
               position: absolute;
   width: 78px;
   height: 16px;
   left: 140px;
   top: 120px;
   
   background: #131821;
           }
   
          .demo2{
           position: absolute;
   width: 42px;
   height: 26px;
   left: 331px;
   top: 114px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   /* identical to box height, or 162% */
   
   
   color: #6A707B;
           }
           
           .demo3{
              
              
    position: absolute;
   width: 91px;
   height: 26px;
   left: 403px;
   top: 114px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   /* identical to box height, or 162% */
   
   
   color: #6A707B;
   
           }
           
           .demo4{
   position: absolute;
   width: 56px;
   height: 26px;
   left: 524px;
   top: 114px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   /* identical to box height, or 162% */
   
   
   color: #6A707B;
           }
   
           .demo5{
               position: absolute;
   width: 1620px;
   height: 1080px;
   left: 680px;
   top: 0px;
   
   background: url(image_summer.jpg);
   background-repeat: no-repeat;
   
           }
           .demo6{
              
              
    position: absolute;
   width: 399px;
   height: 44px;
   left: 140px;
   top: 374px;
   
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 44px;
   /* identical to box height, or 138% */
   
   
   color: #131821;
   
           }
           .demo7{
               position: absolute;
   width: 400px;
   height: 56px;
   left: 140px;
   top: 433px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   /* or 175% */
   
   
   color: #6A707B; 
           }
   
           .demo8{
   box-sizing: border-box;
   position: absolute;
   width: 663px;
   height: 70px;
   left: -575px;
   top: 539px;
   
   background: #FFFFFF;
   border: 1px solid #E3E3E4;
           }
          .demo10 {
    position: absolute;
   width: 227px;
   height: 24px;
   left: 50px;
   top: 520px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   /* identical to box height, or 150% */
   
   
   color: #6A707B;
   
           }
           input{
       color:#ff0000;
       font: 1em/1.25em Arial, Helvetica, sans-serif;
   }
   .demo11{
       position: absolute;
   width: 24px;
   height: 14px;
   left: 50px;
   top: 567px;
   
   background: #131821;
   opacity: 0.3;
   }
   .demo12{
       position: absolute;
   width: 26px;
   height: 26px;
   left: 140px;
   top: 663px;
   
   background: #4066A5;
   border-radius: 3px;
   }
   .demo56{
     
   margin-left: 20%;
   margin-top: 28%;
   }
   .demo57{
     
       position: absolute;
   width: 359px;
   height: 28px;
   left: 30px;
   top: -38px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   /* identical to box height, or 175% */
   background: linear-gradient(to right, #6A707B 0%, #6A707B 20%, #131821 20%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     }
     .demo58{
       position: absolute;
   width: 400px;
   height: 1px;
   left: 140px;
   top: 740px;
   
   background: #E3E3E4;
   
     }
     .demo61{
       box-sizing: border-box;
   
   position: absolute;
   width: 46px;
   height: 46px;
   left: 218px;
   top: 791px;
   
   
     }
     .demo62 {
       box-sizing: border-box;
   
   position: absolute;
   width: 46px;
   height: 46px;
   left: 284px;
   top: 791px;
   
   
     }
     .demo63{
       box-sizing: border-box;
   
   position: absolute;
   width: 46px;
   height: 46px;
   left: 350px;
   top: 791px;
   
   
     }
     .demo64{
       box-sizing: border-box;
   
   position: absolute;
   width: 46px;
   height: 46px;
   left: 416px;
   top: 791px;
   
   
     }
     .demo65{
       box-sizing: border-box;
       position: absolute;
       width: 8px;
       height: 16px;
       left: 237px;
       top: 806px;
   
   
     }
     .demo66{
       box-sizing: border-box;
   
   position: absolute;
   
   left: 298px;
   top: 806px;
   
   
   
     }
     .demo67 {
       box-sizing: border-box;
       position: absolute;
       left: 364px;
       top: 808px;
   
     }
     .demo68 {
       box-sizing: border-box;
   
   position: absolute;
   
   left: 431px;
   top: 809px;
   
     }
    
    .demo70{
       position: absolute;
       width: 4px;
   height: 70px;
   left: 100px;
   top: 539px;
   background: #4066A5;
   }
    .demo69{
       position: absolute;
   width: 359px;
   height: 28px;
   left: 300px;
   top: 662px;
   
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
    }
    h6>span{
     position: absolute;
     top: 0;
     left: 20;
   }